body {
	max-width: 1000px;
	min-width: 670px;
	padding: 0;
	margin: 0 auto;
	font-family: Arial;
	font-size: 13px;
	color: black;
}
.header {
	width: 100%;
	height: 50px;
	background: #e9e9e9;
	position: relative;
}
.header #hh-logo {
	width: 40px;
	height: auto;
	position: absolute;
	right: 50px;
	top: 5px;
}
.main_wrapper {
	padding-left: 5%;
	padding-right: 5%;
}
.contacts{
	position: relative;
	width: 100%;	
	min-height: 200px;
}
.contacts #avatar {

	width: 150px;
	float: left;
	padding-bottom: 50px;
	padding-right: 30px;
	
}
.contacts #FIO_section {
	
}
.desired_position {
	width: 100%;
}
.sallary {
	float: right;
	text-align: right;
}

table {
	text-align: left;
	width: 100%;
}
th {
	vertical-align: top;
}
.col1 {
	width: 180px;
	font-size: 10px;
	color: #8C8C8C;
	padding: 20px;
}

.h0 {
	border-bottom: solid 3px #ADADAD;
	font-size: 18px;
	color: #ADADAD;
	padding-top: 30px;
	margin-bottom: 20px;
}

h3 {
	font-size: 18px;
	font-weight: 400;
}
.grey {
	color: #ADADAD;
}
.greyB {
	background-color: #d4d4d4;
}